<section class="section_area">

  <div class="row_agreement_100">
    <!-- 風險警語 -->
    <div class="agreement_content agreement_content_100">
          1.	上開基金優惠標的之資訊僅供參考，投資人申購基金商品之風險等級應與投資人之風險屬性相符，投資所可能產生之本金虧損等風險，均由投資人自行承擔。<br><br>
          2.	本行上架之境內、境外基金經金管會核准或同意生效，惟不表示絕無風險。基金經理公司以往之經理績效不保證基金之最低投資收益；基金經理公司除盡善良管理人之注意義務外，不負責本基金之盈虧，亦不保證最低之收益，投資人申購前應詳閱基金公開說明書。<br><br>
          3.	基金配息率不代表基金報酬率，且過去配息率不代表未來配息率；基金淨值可能因市場因素而上下波動。基金年化配息率為估算值，基金年化配息率計算公式為「每單位配息金額÷除息日前一日之淨值×一年配息次數×100％」。如基金之銷售文件（包括但不限於公開說明書、簡式公開說明書或投資人須知），有揭露基金得以其本金支付配息時，基金的配息可能由基金的收益或本金中支付，任何涉及由本金支出的部份，可能導致原始投資金額減損，投資人於申購時應謹慎考量。配息可能涉及本金之個別基金，最近12個月內配息組成相關資料，及該基金配息前，是否已先扣除應負擔之相關費用，皆已揭露於各家基金公司網站。<br><br>
          4.	股票入息基金投資之企業，其股利（股息）配發時間及金額視個別企業之決定（例如：該企業一年可能集中於一或兩次配發)，故每月配息金額的決定主要乃是透過對投資組合企業長期股利配發記錄的追蹤作未來一年股利金額的保守預估，並考量相關稅負後，方決定每月基金每單位的配息金額。<br><br>
          5.	有關基金短線交易及應負擔之費用（含分銷費用）、投資風險等已揭露於基金公開說明書或投資人須知中，投資人請至境外基金資訊觀測站<span (click)="click1()">(http://www.fundclear.com.tw)</span>或公開資訊觀測站 <span (click)="click2()"> (http://newmops.tse.com.tw/)</span>查詢。<br><br>
          6.	手續費後收型基金在贖回時，基金公司將依持有期間長短收取不同比率之遞延申購手續費，該費用將自贖回總額中扣除；申購手續費雖可遞延收取，惟每年仍需支付0.5％~1%的分銷費，可能造成實際負擔費用增加(前揭分銷費係反映於每日基金淨值中，投資人無需額外支付)。<br><br>
          7.	相關財經資訊由鉅亨網提供，基金資訊由Morningstar提供，資料僅供參考且不保證正確性，請勿視為買賣基金、有價證券等金融商品之投資建議。本行已盡力就可靠之資料來源提供訊息，但無法保證資料來源之完整性，如有疏漏或錯誤，本行恕不負任何法律責任。<br><br>
          8.	本行受託投資境內、境外基金，不保本、不保息，投資所可能產生之本金虧損、匯率損失或基金解散、清算、移轉、合併等風險，均由投資人自行承擔；基金並非存款，基金投資不屬於存款保險條例所保障之範圍，投資人需自負盈虧。基金投資具投資風險，此一風險可能使本金發生虧損，其中最大可能損失為喪失全部投資本息。<br><br>
          9.	相關報價及績效計算，皆以原幣別為計價單位，且皆已考慮配單位數或配發現金的情況，基金淨值可能因市場因素而上下波動，基金淨值僅供參考，實際以基金經理公司公告為準；部份基金採雙軌報價，買入價╱賣出價僅供參考，實際交易以基金經理公司所公告的買入價╱賣出價為計算基礎；基金配息資訊由Morningstar提供，其提供之資訊，僅係一般性參考用途，且不保證正確性，實際配息率以本行實際發放為主。<br><br>
          10.	基金績效均為過去績效，不代表未來之績效表現，亦不保證基金之最低投資收益，投資人不同時間進場，將有不同投資績效，且過去績效不代表未來績效之保證。<br><br>
          11.	境內、境外基金投資於以外幣計價之有價證券，匯率變動可能影響其淨值。<br><br>
          12.	貨幣避險級別採用避險技術，試圖降低（但非完全消除）避險級別計價貨幣與基金基準貨幣間的匯率波動，期能提供投資人，更貼近基準貨幣級別的基金報酬率。<br><br>
          13.	部份基金設有「擺動定價政策」，擺動定價政策之目的是藉由避免或減少因某一營業日大量淨流入或淨流出而對子基金受益憑證價值產生績效稀釋效果，以保護基金之現有投資人。投資人於申購前應詳閱公開說明書與投資人須知。<br><br>
          14.	投資新興市場可能比投資已開發國家有較大的價格波動及流動性較低的風險；投資人投資以高收益債券為訴求之基金不宜占其投資組合過高之比重，以高收益債券為訴求之基金經金管會核准，惟不表示絕無風險。由於高收益債券之信用評等未達投資等級或未經信用評等，且對利率變動的敏感度甚高，故以高收益債券為訴求之基金可能會因利率上升、市場流動性下降，或債券發行機構違約不支付本金、利息或破產而蒙受虧損。以高收益債券為訴求之基金不適合無法承擔相關風險之投資人。以高收益債券為訴求之基金經理公司以往之經理績效不保證基金之最低投資收益；基金經理公司除盡善良管理人之注意義務外，不負責以高收益債券為訴求之基金之盈虧，亦不保證最低之收益，投資人申購前應詳閱基金公開說明書。<br><br>
          15.	投資區域包含中國、香港等地基金之特別注意風險： <br><br>
          （1）	依金管會之規定，目前境外基金直接投資大陸地區證券市場之有價證券以掛牌上市有價證券及銀行間債券市場為限，且投資總金額不得超過本基金淨資產價值之百分之二十，投資香港地區之紅籌股及H股則無限制。但若該年度獲得境外基金深耕計畫豁免者不在此限，比例可達百分之四十。<br><br>
          （2）	投資區域包含中國大陸及香港等地之基金，可能因產業循環或非經濟因素（如：政府政策、稅項、貨幣匯回限制或該投資區域之法律、規定）導致價格劇烈波動，以及市場機制不如已開發市場健全，產生流動性不足風險，而使資產價值受不同程度之影響。投資人申購前應詳閱基金公開說明書。<br><br>
          16.	得獎基金資料來源：理柏(Lipper)、晨星(Morningstar)、Smart智富雜誌、台北金融研究發展基金會(傑出基金金鑽獎) 、《指標》雜誌(香港及台灣指標基金獎) <br><br>
          （1）	「湯森路透理柏台灣基金獎」主要是以累積期間的方式依據總回報、穩定回報、保本能力、費用、課稅效能(僅美國適用)評選。<br><br>
          （2）	「晨星最佳基金獎(台灣)」主要是經過「量」及「質」兩方面的標準篩選。量化條件要求基金過去一年表現理想外，還考慮基金的長期績效、風險管理、中長期調整風險後收益、波動幅度及收費等。在質方面，基金經理及團隊管理基金的年期是考量的條件。<br><br>
          （3）	「Smart智富台灣基金獎」由智富雜誌頒發、晨星技術指導。評選的基金須在台灣核備銷售超過一年、主要是以短、中、長期績效及風險評選。<br><br>
          （4）	傑出基金「金鑽獎」由台北金融研究發展基金會與彭博公司合辦。主辦單位按彭博之基金分類與基金評比方式計算，分別進行三年期、五年期、十年期之總報酬（以新台幣計價），與風險指標計算。<br><br>
          （5）	「指標台灣年度基金大獎」：Benchmark《指標》雜誌創刊於1996年，是香港歷史悠久且具有領導地位的中英雙月刊雜誌之一。<br><br>
          （6）	得獎基金，涵蓋該基金標的之所有級別均以列示。<br><br>
    </div>
    <!-- 風險警語 End -->
  </div>
</section>
<!-- section End -->