<div class="popup_content_area zIndex_level_2">
    <div class="popup_content_wrap">
        <!-- 標題 & 關閉按鈕 Start -->
        <div class="pop_group pop_title pop_title_1 flex_row">
            <div class="simple_title">{{ title | translate }}</div>
            <div class="i_close" (click)="onCancleEvent()"></div>
        </div>
        <!-- 標題 & 關閉按鈕 End -->

        <!-- 注意資訊內容 Start -->
        <div class="popup_inner_content">
            <div class="pop_group pop_content pop_content_1 flex_row">
                <div class="pop_content_txt">
                    <ol class="ol_content" [innerHtml]="content | translate | safeHtml">
                    </ol>
                </div>
            </div>
        </div>
        <!-- 注意資訊內容 End -->
    </div>
</div>