<div id="loader">
    <div class="container">
        <!-- logo -->
        <div class="logo-wrapper"> <img src="assets/design/image/loader/logo.png" alt="CTBC"> </div>
        <!-- / logo -->
        <!-- footer wave -->
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <!-- / footer wave -->
    </div>
    <!-- 版本 -->
    <div class="copyright">{{'MENU.VERSION' | translate}}:{{appVersion}}({{contentVersion}})</div>
</div>