 <ng-container *ngFor="let item of listData; let i = index">
    <div class="content_group content_invest_1 flex_row" (click)="clickdetail(item)" >
      <div class="content_invest_1_w1">
        <div class="content_invest_li content_invest_title">{{item.fundCode}} {{item.fundName}}</div>
        <div class="content_invest_li flex_row">
          <div class="content_invest_li_p1">{{ 'FUND-INQUIRY-MODIFY.STATUS' | translate }}</div>
          <div class="content_invest_li_p2">{{ item | fieldCheck: ['status',{zero_type:false, empty_str:'--'}]}}</div>
        </div>
        <div class="content_invest_li flex_row">
          <div class="content_invest_li_p1">{{ 'FUND-INQUIRY-MODIFY.AMT' | translate }}</div>
          <div class="content_invest_li_p2">{{item.engCcy}} {{ item | fieldCheck: ['amt',{zero_type:false, empty_str:'--'}]}}</div>
        </div>
        <div class="content_invest_li flex_row">
          <div class="content_invest_li_p1">{{ 'FUND-INQUIRY-MODIFY.CHGDATE' | translate }}</div>
          <div class="content_invest_li_p2">{{ item | fieldCheck: ['chgDate',{zero_type:false, empty_str:'--'}]}}</div>
        </div>
      </div>
      <div class="flex_row content_invest_1_w2">
        <div class="select_i_right"></div>
      </div>
    </div>
  </ng-container>