<section class="section_area">
    <br>

    <div class="content_group content_service_1 flex_row">
        <!-- 智能客服 Start -->
        <div class="content_service_1_wrap service_l" (click)="click1()">
            <div class="content_service_1_img"></div>
            <div class="content_service_1_txt">{{'ONLINE_SERVICE.SMART_CUSTOMER_SERVICE' | translate}}</div>
        </div>
        <!-- 智能客服 End -->

        <!-- 客服專線 Start -->
        <div class="content_service_1_wrap service_r" (click)="click2()">
            <div class="content_service_1_img"></div>
            <div class="content_service_1_txt">{{'ONLINE_SERVICE.CUSTOMER_SERVICE_HOTLINE' | translate}}</div>
        </div>
        <!-- 客服專線 End -->
    </div>

    <br><br>

</section>