<div class="popup_content_area zIndex_level_6">
    <div class="popup_content_wrap">

        <div class="pop_group pop_title pop_title_1 flex_row">
            <div class="simple_title">{{title | translate}}</div>
            <div class="i_close" (click)="cancleClick()"></div>
        </div>

        <div class="popup_inner_content">
            <ng-container *ngFor="let item of data">
                <div class="content_group content_4 flex_row" (click)="chooseOver(item)">
                    <div class="flex_row content_4_wrap">
                        <div class="content_4_txt_wrap">
                            <div class="content_4_txt_1">{{item.accountId}}</div>
                            <div class="content_4_txt_2">{{ item | objectField: ['nickName'] }}</div>
                            <ng-container *ngIf="type == 'loan'"> <!-- 幣別欄位依確認文件(只有TWD) -->
                                <div class="content_4_txt_3">{{ item | objectField: ['amount', 'currencyMoney' , 'TWD'] }}</div>
                            </ng-container>
                            <ng-container *ngIf="type == 'current'"> 
                                <div class="content_4_txt_3">{{ item | objectField: ['currencyCode'] }}</div>
                            </ng-container>
                        </div>
                        <div class="i_check_wrap flex_row" [ngClass]="{ 'active_i_check':(item.accountId === select) }">
                            <div class="i_check"></div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>