/* @group [iphone5] ----------------------------------------------------------------------------------------*/

@media only screen and (max-width: 320px) {

  /* @group [form] ----------------------------------------------------------------------------------------*/
  /*----------------------- foreign -----------------------------*/
  .foreign_li_bg {
    padding: 10px 5px 10px 10px;
  }

  .foreign_li_no_select .national_flag_wrap {
    width: 20%;
  }

  /* 國旗圖示 */
  .national_flag_wrap {
    width: 20%;
    margin-right: 5px;
  }

  .national_flag {
    width: 20px;
    height: 13px;
  }

  .currency_txt {
    font-size: 13px;
  }

  .select_i_down_wrap {
    width: 20%;
  }

  /* End [form] ---------------------------------------------------------------------------------------- */


  /* @group [list_group] ----------------------------------------------------------------------------------------*/
  /* 列表 border 設定，調小margin-left */
  .list_data {
    margin-left: 15px;
  }

  /* 列表p 文字設定 */
  .list_data_li p {
    font-size: 14px;
  }

  /* 列表p 第1欄文字設定(三者為連動) */
  .list_data_li p:first-child {
    width: 16%;
  }

  /* 列表p 第2欄文字設定(三者為連動) */
  .list_data_li p:nth-child(2) {
    width: 23%;
  }

  /* 列表p 第3欄文字設定(三者為連動) */
  .list_data_li p:nth-child(3) {
    width: 57%;
  }

  /* 列表2 表單縮起時 的第二行文字 設定 */
  .list_data_li_txt_2 {
    font-size: 15px;
  }

  /* 列表2 p 第1欄文字設定(2者為連動) */
  .list_data_li.list_data_li_2 p:first-child {
    width: 17%;
  }

  /* 列表2 p 第2欄文字設定(2者為連動) */
  .list_data_li.list_data_li_2 p:nth-child(2) {
    width: 60%;
  }

  /* list_group_3 -------- */

  .list_inner_img_wrap {
    width: 36%;
  }

  .list_inner_img {
    width: 80px;
    height: 80px;
  }

  .list_data_inner_w {
    width: 62%;
  }

  /* list_group_4 ------------- */
  /* 文字3*/
  .list_inner_4_txt_p3 {
    width: 24%;
  }

  /* 文字4*/
  .list_inner_4_txt_p4 {
    width: 76%;
  }

  /* End [list_group] ---------------------------------------------------------------------------------------- */


  /* @group [card_list] ----------------------------------------------------------------------------------------*/
  .card_list_li p {
    font-size: 15px;
  }

  /* End [card_list] ---------------------------------------------------------------------------------------- */


  /* @group [card] ----------------------------------------------------------------------------------------*/

  /* card_credit_1 信用卡 卡片*/
  .card_credit_1_bg {
    min-height: 150px;
  }

  .card_credit_1_wrap {
    min-height: 150px;
  }

  /* End [card] ---------------------------------------------------------------------------------------- */

  /* @group [card_inner_list]----------------------------------------------------------------------------------------*/

  /* 列表細項 p 第1欄文字設定 */
  .card_inner_list_li p:first-child {
    width: 24%;
  }

  /* 列表細項p 第2欄文字設定 */
  .card_inner_list_li p:nth-child(2) {
    width: 76%;
  }

  /*card_inner_list_2 列表細項 p 第1欄文字設定 */
  .card_inner_list_2 .card_inner_list_li p:first-child {
    width: 24%;
  }

  /*card_inner_list_2 列表細項p 第2欄文字設定 */
  .card_inner_list_2 .card_inner_list_li p:nth-child(2) {
    width: 76%;
  }

  .card_inner_list_6 .l_card_list {
    width: 24%;
  }

  .card_inner_list_6 p.r_card_list {
    width: 76%;
  }

  /* End [card_inner_list] ---------------------------------------------------------------------------------------- */


  /* @group [button] ----------------------------------------------------------------------------------------*/
  /*外框線按鈕(展開、排序)------------ */
  .btn_outline {
    width: 50px;
  }

  .btn_outline_l {
    margin-right: 5px;
  }

  /* content按鈕--------------------- */
  .content_btn {
    font-size: 13px;
  }


  /*透明背景按鈕(展開、排序)------------ */
  .btn_transparent {
    width: 50px;
  }

  .btn_transparent_l {
    margin-right: 5px;
  }


  /* End [button] ---------------------------------------------------------------------------------------- */


  /* @group [table_group] ----------------------------------------------------------------------------------------*/
  /* table_list_set 文字設定 */
  .table_list_set_li p {
    font-size: 14px;
  }

  .table_2set_p1 {
    width: 60%;
  }

  .table_2set_p2 {
    width: 40%;
  }

  /* End [table_group] ---------------------------------------------------------------------------------------- */


  /* @ [checkbox] --------------------------------------------------------------------------------------*/
  /* 同意條款 */
  .agreement_content {
    height: 55vh;
  }

  /* End [checkbox] ---------------------------------------------------------------------------------------- */

  /* @ [content_new_group] ------------------------------------------------------------------------------------------*/

  /* content_new_2 ------------ */
  /* content_new_2 背景最小高度 */
  .content_new_2 .content_new_bg {
    min-height: 70vh;
  }

  /* End [content_new_group] ---------------------------------------------------------------------------------------- */

  /* @group [content_group] ----------------------------------------------------------------------------------------*/

  /* content_11 ----------*/
  .national_flag_content_11_wrap .national_flag {
    width: 25px;
    height: 18px;
  }

  /* 標題寬度 */
  .content_invest_li_p1 {
    width: 25%;
  }

  /* 內文寬度 */
  .content_invest_li_p2 {
    width: 75%;
  }

  /* 內文寬度 粗體 */
  .content_invest_li_p2_bold {
    width: 75%;
  }

  /* content_12 ----------*/
  p.content_p2 {
    font-size: 21px;
  }

  /* content_31 ------------ */
  /* 服務據點文字寬度 */
  .content_txt_wrap {
    width: 65%;
  }

  /* 服務據點 前往按鈕寬度 */
  .content_btn_group.content_btn1_3_wrap {
    width: 34%;
  }

  /* content_31_4 ------------ */
  /* tag寬度 */
  .info_tag.tag_content_wth {
    min-width: 38px;
    width: 38px;
    margin-right: 4px;
  }

  /* End [content] ---------------------------------------------------------------------------------------- */

  /* @group [pop_group] ----------------------------------------------------------------------------------------*/
  /* 圖形鎖 i5 padding調整 (因圖形鎖寬度style 設定310px，會跑版)  */
  .popup_content_area_patternlock_wth {
    padding: 0px;
  }

  /* End [pop_group] ---------------------------------------------------------------------------------------- */

}