.header {
    height: 50px;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 2;
}

.header .menu_icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}

.header .menu_icon img {
    display: inline-block;
    vertical-align: middle;
}

.header .info_icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}

.header .info_icon img {
    display: inline-block;
    vertical-align: middle;
}

.leftmenu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: -webkit-linear-gradient(top, #ffffff 0%, #a8cac8 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #a8cac8 100%);
    z-index: 5;
    right: 100vw;
    overflow-y: scroll;
}

.leftmenu.active {
    animation-name: menu_show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes menu_show {
    from {
        right: 100vw;
    }
    to {
        right: 0;
    }
}

.leftmenu.close {
    animation-name: menu_close;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes menu_close {
    from {
        right: 0;
    }
    to {
        right: 100vw;
    }
}

.div-header-background {
    z-index: -1;
    position: absolute;
    display: block;
    width: 100%;
    height: 20vh;
}

.leftmenu .div-header {
    width: 100vw;
    height: 20vh;
    display: grid;
    grid-template-columns: 30% 50% 20%;
}

.leftmenu .div-logo {
    width: 20vw;
    height: 16vh;
    margin-top: 2vh;
    margin-left: 5vw;
}

.leftmenu .div-logo img {
    max-width: 100%;
    max-height: 100%;
}

.leftmenu .div-login-text1 {
    color: white;
    font-size: 5vw;
}

.leftmenu .div-login-text2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 4vw;
}

.leftmenu .div-buttons {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
}

.leftmenu .div-close {
    display: grid;
    color: #ffffff;
    margin-top: 2vh;
    margin-right: 2vw;
    font-size: 2.5vh;
    grid-template-columns: auto auto;
}

.leftmenu .div-close span {
    display: inline-block;
    vertical-align: middle;
}

.leftmenu .div-close img {
    height: 3vh;
    margin-left: 0.5vw;
}

.div-logout {
    position: relative;
    height: 100%;
}

.div-logout-button {
    position: absolute;
    height: 4vh;
    width: 15vw;
    bottom: 0;
    right: 2vw;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: #223730;
    border-radius: 4vw;
}

.div-logout-button span {
    display: inline-block;
    font-size: 2.5vh;
    vertical-align: middle;
}

.leftmenu .div-hidden {
    visibility: hidden;
}

.leftmenu ul {
    color: #666666;
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: '微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
}

.leftmenu ul li {
    display: inline-block;
    width: 75%;
    border-bottom: 2px solid #666666;
    padding: 10px 15px;
    text-align: left;
}

.leftmenu ul li .expandable {
    display: grid;
    vertical-align: middle;
    grid-template-columns: auto 16px;
}

.leftmenu ul li.hidden {
    display: none;
}

.leftmenu ul li:last-child {
    border-bottom: none;
}

.leftmenu ul li:hover {
    color: #ffffff;
    background: rgba(16, 119, 120, 70%);
}

.leftmenu .mobile_version {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.MENU.AUTH.active{
    color:#4585c1;
}
.MENU.SEARCH.active{
    color:#4585c1;
}
.MENU.TRANSCATION.active{
    color:#4585c1;
}
.MENU.OTP_GENERATE_SHORT.active{
    color:#4585c1;
}
.MENU.FINANCE.active{
    color:#4585c1;
}
.MENU.SETTING.active{
    color:#4585c1;
}
.MENU.BULLENTIN.active{
    color:#4585c1;
}
.MENU.HOME.active{
    color:#4585c1;    
}