<!-- 頁籤選單 Start -->
<app-bookmark [setData]="bookmarkData" [setKey]="nowBookMark" (backPageEmit)="onBookMarkBack($event)"></app-bookmark>
<!-- 頁籤選單 End -->

<section class="section_area section_hasbtn section_tabL1">
    <!-- 步驟列 Start -->
    <app-step-bar [setData]="stepMenuData" [setKey]="nowStep"></app-step-bar>
    <!-- 步驟列 End -->

    <!-- 轉出帳號 Start -->
    <div class="row_single row_bg">
        <div class="form_group form_group_w100 form_select_2">
            <div class="select_group flex_col">
                <div class="form_label">{{'FOREIGN_TRANSFER.TRANSFER_OUT_ACCOUNT' | translate}}</div>
                <div class="select_inner_group" [ngClass]="{'active_error': (invalid)}">
                    <div class="form_select_pop_2 flex_row">
                        <p class="select_pop_content">02121000001171</p>
                        <div class="select_pop_i_down"></div>
                    </div>
                    <div class="select_pop_info">{{'FOREIGN_TRANSFER.BALANCE' | translate}} NT$ 123,456,789,000</div>
                    <div class="form_error">{{'FOREIGN_TRANSFER.ERROR' | translate}}</div>
                </div>
            </div>
        </div>   
    </div>
    <!-- 轉出帳號 End -->

    <!-- 轉入帳號 Start -->
    <div class="row_single row_bg mar_btm0">
        <div class="form_group form_group_w100 form_select_2">
            <div class="select_group flex_col">
                <div class="form_label">{{'FOREIGN_TRANSFER.TRANSFER_IN_ACCOUNT' | translate}}</div>
                <div class="select_inner_group" [ngClass]="{'active_error': (invalid)}">
                    <div class="form_select_pop_2 flex_row">
                        <p class="select_pop_content">02121000001171</p>
                        <div class="select_pop_i_down"></div>
                    </div>
                    <div class="form_error">{{'FOREIGN_TRANSFER.ERROR' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 轉入帳號 End -->

    <!-- 轉帳金額 & 匯率表 按鈕 Start -->
    <div class="content_group content_27 flex_row">
        <div class="content_label">{{'FOREIGN_TRANSFER.TRANSFER_AMOUNT' | translate}}</div>
        <button class="content_btn" (click)="onExchangeRateTableBtnClick()">{{'FOREIGN_TRANSFER.EXCHANGE_RATE_TABLE' | translate}}</button>
    </div>
    <!-- 轉帳金額 & 匯率表 按鈕 End -->

    <!-- 幣別 & 金額 Start -->
    <div class="row_single">
        <div class="form_group form_foreign flex_col">
            <div class="form_label">{{'FOREIGN_TRANSFER.CURRENCY' | translate}}</div>
            <div class="flex_row foreign_li">
                <div class="flex_col foreign_li_width foreign_li_no_select">
                    <!-- 兌出幣別 Start -->
                    <div class="flex_row foreign_li_bg">
                        <div class="national_flag_wrap">
                            <div class="national_flag {{chooseSellCurrencyObj['currencyCode'] | iconFlag}}"></div>
                        </div>
                        <div class="currency_txt_wrap">
                            <div class="currency_txt hidden_text">{{nowBookMark == 'buy-foreign' ? 'NT$' : '幣別'}}</div>
                        </div>
                    </div>
                    <!-- 兌出幣別 End -->

                    <!-- 兌出金額 Start -->
                    <div class="input_inner_group">
                        <input type="text" class="input_inner txt_bold" placeholder="{{nowBookMark == 'buy-foreign' ? '<500,000' : '0.00'}}">
                    </div>
                    <!-- 兌出金額 End -->
                </div>
                <div class="i_foreign_trade">
                </div>
                <div class="flex_col foreign_li_width {{nowBookMark == 'buy-foreign' ? 'foreign_li_select' : 'foreign_li_no_select'}}">
                    <!-- 兌入幣別 Start -->
                    <div class="flex_row foreign_li_bg">
                        <div class="national_flag_wrap">
                            <div class="national_flag {{chooseBuyCurrencyObj['currencyCode'] | iconFlag}}"></div>
                        </div>
                        <div class="currency_txt_wrap">
                            <div class="currency_txt hidden_text">{{nowBookMark == 'buy-foreign' ? '幣別' : 'NT$'}}</div>
                        </div>
                        <div class="flex_row select_i_down_wrap" *ngIf="nowBookMark == 'buy-foreign';">
                            <div class="select_pop_i_down"></div>
                        </div>
                    </div>
                    <!-- 兌入幣別 End -->
                    
                    <!-- 兌入金額 Start -->
                    <div class="input_inner_group">
                        <input type="text" class="input_inner txt_bold" placeholder="{{nowBookMark == 'buy-foreign' ? '0.00' : '<500,000'}}">
                    </div>
                    <!-- 兌入金額 End -->
                </div>
            </div>
        </div>
    </div>
    <!-- 幣別 & 金額 End -->

    <!-- 結匯性質 Start -->
    <div class="row_single row_bg">
        <div class="form_group form_group_w100 form_select_2">
            <div class="select_group flex_col">
                <div class="form_label">{{'FOREIGN_TRANSFER.TRANSFER_TYPE' | translate}}</div>
                <div class="select_inner_group" [ngClass]="{'active_error': (invalid)}">
                    <div class="form_select_pop_2 flex_row">
                        <p class="select_pop_content">02121000001171</p>
                        <div class="select_pop_i_down"></div>
                    </div>
                    <div class="form_error">{{'FOREIGN_TRANSFER.ERROR' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 結匯性質 End -->

    <!-- 注意資訊 Start -->
    <app-note [options]="notePopupOption"></app-note>
    <!-- 注意資訊 End -->

</section>

<!-- 取消 & 下一步 按鈕 Start -->
<div class="btn_group flex_row">
    <button class="btn_l btn_secondary btn_w25">{{'FOREIGN_TRANSFER.BTN.CANCEL' | translate}}</button>
    <button class="btn_r btn_primary btn_w70">{{'FOREIGN_TRANSFER.BTN.NEXT_STEP' | translate}}</button>
</div>
<!-- 取消 & 確認 按鈕 Start -->