<!--Popup-->
<app-loading></app-loading>
<app-pop-depositSummary></app-pop-depositSummary>
<app-pop-depositDetial></app-pop-depositDetial>
<app-pop-confirm></app-pop-confirm>
<app-pop-percent></app-pop-percent>
<app-pop-transquery></app-pop-transquery>
<app-pop-datepicker></app-pop-datepicker>
<app-pop-input></app-pop-input>
<app-pop-patternlock></app-pop-patternlock>
<app-pop-quickLoginTerms></app-pop-quickLoginTerms>
<app-pop-checklist></app-pop-checklist>
<app-pop-select></app-pop-select>
<app-pop-keyboard></app-pop-keyboard>

<!--main-->
<!-- container-->
<div class="container-fluid container-bk-gree UnLogin" id="mainboad">
    <div class="row">
        <app-header></app-header>
        <app-footer></app-footer>
        <app-menu></app-menu>
        <router-outlet></router-outlet>
    </div>
</div>
<!-- end of container-->