    <section class="section_area">
        <div class="content_group content_invest_2 bg_d4">
            <div class="content_title">{{ setData.fund }}{{ setData | objectField: ['fundName'] }}</div>
            <div class="content_txt">{{ 'CONTENT.TRUSTNO' | translate }} : {{ setData | objectField: ['trustNo'] }}</div>
            <div class="content_txt2">{{ 'CONTENT.TXDATE' | translate }} : {{ setData | objectField: ['txDate', 'htDate' ,'yyyy-MM-dd'] }}</div>
        </div>

        <ng-container [ngSwitch]="setData.txType">
            <!-- 申購 START -->
            <ng-container *ngSwitchCase="'1'">
                <div class="card_list_group card_list_3">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.TXTYPE' | translate }}</p>
                        <p>{{ setData | objectField: ['txTypeName'] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.AMT' | translate }}</p>
                        <p>{{ setData.acctCcy }} {{ setData | objectField: ['amt', 'htMoney' , setData.acctCcy] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.APPLY_RATE' | translate }}</p>
                        <p>{{ setData | objectField: ['applyRate'] }}%</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.FEE' | translate }}</p>
                        <p>{{ setData | objectField: ['fee', 'htMoney' , setData.acctCcy] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.ACCT_DATE' | translate }}</p>
                        <p>{{ setData | objectField: ['acctDate', 'htDate' ,'yyyy-MM-dd'] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.ACCT_AMT' | translate }}</p>
                        <p>{{ setData.acctCcy }} {{ setData | objectField: ['acctAmt', 'htMoney' , setData.acctCcy] }}
                        </p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.UNIT' | translate }}</p>
                        <p>{{ setData | objectField: ['unit'] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.VALUE' | translate }}</p>
                        <p>{{ setData | objectField: ['value', 'htMoney' , setData.acctCcy] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.MEMO' | translate }}</p>
                        <p>{{ setData | objectField: ['memo'] }}</p>
                    </div>
                </div>
            </ng-container>
            <!-- 申購 END -->

            <!-- 轉出 START -->
            <ng-container *ngSwitchCase="'2'">
                <div class="card_list_group card_list_3">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.TXTYPE' | translate }}</p>
                        <p>{{ setData | objectField: ['txTypeName'] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.AMT' | translate }}</p>
                        <p>{{ setData.acctCcy }} {{ setData | objectField: ['amt', 'htMoney' , setData.acctCcy] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.VALUE' | translate }}</p>
                        <p>{{ setData | objectField: ['value', 'htMoney' , setData.acctCcy] }}</p>
                    </div>
                </div>
            </ng-container>
            <!-- 轉出 END -->

            <!-- 轉入 START -->
            <ng-container *ngSwitchCase="'3'">
                <div class="card_list_group card_list_3">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.TXTYPE' | translate }}</p>
                        <p>{{ setData | objectField: ['txTypeName'] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.AMT' | translate }}</p>
                        <p>{{ setData.acctCcy }} {{ setData | objectField: ['amt', 'htMoney' , setData.acctCcy] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.VALUE' | translate }}</p>
                        <p>{{ setData | objectField: ['value', 'htMoney' , setData.acctCcy] }}</p>
                    </div>
                </div>
            </ng-container>
            <!-- 轉入 END -->

            <!-- 贖回 START -->
            <ng-container *ngSwitchCase="'4'">
                <div class="card_list_group card_list_3">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.TXTYPE' | translate }}</p>
                        <p>{{ setData | objectField: ['txTypeName'] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.AMT' | translate }}</p>
                        <p>{{ setData.acctCcy }} {{ setData | objectField: ['amt', 'htMoney' , setData.acctCcy] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.ACCT_DATE' | translate }}</p>
                        <p>{{ setData | objectField: ['acctDate', 'htDate' ,'yyyy-MM-dd'] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.ACCT_AMT' | translate }}</p>
                        <p>{{ setData.acctCcy }} {{ setData | objectField: ['acctAmt', 'htMoney' , setData.acctCcy] }}
                        </p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.VALUE' | translate }}</p>
                        <p>{{ setData | objectField: ['value', 'htMoney' , setData.acctCcy] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.MEMO' | translate }}</p>
                        <p>{{ setData | objectField: ['memo'] }}</p>
                    </div>
                </div>
            </ng-container>
            <!-- 贖回 END -->

            <!-- 除息 START -->
            <ng-container *ngSwitchCase="'5'">
                <div class="card_list_group card_list_3">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.TXTYPE' | translate }}</p>
                        <p>{{ setData | objectField: ['txTypeName'] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.AMT' | translate }}</p>
                        <p>{{ setData.acctCcy }} {{ setData | objectField: ['amt', 'htMoney' , setData.acctCcy] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.TXDATE' | translate }}</p>
                        <p>{{ setData | objectField: ['acctDate', 'htDate' ,'yyyy-MM-dd'] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.ACCT_AMT' | translate }}</p>
                        <p>{{ setData.acctCcy }} {{ setData | objectField: ['acctAmt', 'htMoney' , setData.acctCcy] }}
                        </p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.UNIT' | translate }}</p>
                        <p>{{ setData | objectField: ['unit'] }}</p>
                    </div>
                </div>
            </ng-container>
            <!-- 除息 END -->

            <!-- 除權 START -->
            <ng-container *ngSwitchCase="'6'">
                <div class="card_list_group card_list_3">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.TXTYPE' | translate }}</p>
                        <p>{{ setData | objectField: ['txTypeName'] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.AMT' | translate }}</p>
                        <p>{{ setData.acctCcy }} {{ setData | objectField: ['amt', 'htMoney' , setData.acctCcy] }}</p>
                    </div>
                </div>
                <div class="card_list_group card_list_1">
                    <div class="flex_row card_list_li">
                        <p>{{ 'CONTENT.UNIT' | translate }}</p>
                        <p>{{ setData | objectField: ['unit'] }}</p>
                    </div>
                </div>
            </ng-container>
            <!-- 除權 END -->
        </ng-container>
    </section>
