<div class="bg-fixed-60"></div>
<section class="col-xs-12 section-content">

    <form method="post">

        <!--表單popup種類6-3 - 整行標題+ 整行input-->
        <div class="row">
            <div class="form-group ct-info-text-wrap select-pop-group-style-column">
                <!-- 原密碼 -->
                <label for="com_id1" class="select-pop-label">{{'LOGINOUT.OLD_PWD' | translate}}<span class="star_singn">*</span></label>
                <div class="field-input pop-form-group-100">
                    <!-- 請輸入原登入/交易密碼 -->
                    <input maxlength="255" type="password" autocomplete="off" class="form-control input-non-bg  {{oldPasswordErrorMsg ? 'active' : ''}}" id="com_id1" name="com_id"
                        value="" placeholder="{{'LOGINOUT.ENTER_OLD_PWD' | translate}}" [(ngModel)]="oldPassword" (focusout) ="checkPasswordChange()">
                    <span class="input-pop-otp-password-alert">{{oldPasswordErrorMsg | translate}}</span>
                </div>
            </div>
        </div>
        <!-- 表單popup種類6-3 //End----------------------------------------------------------------------->

        <!-- 表單分隔線-->
        <div class="row">

            <p class="form-seperator-line"></p>
        </div>
        <!-- 表單分隔線-->

        <!--表單popup種類6-3 - 整行標題+ 整行input-->
        <div class="row">
            <div class="form-group ct-info-text-wrap select-pop-group-style-column">
                <!-- 新密碼 -->
                <label for="com_id2" class="select-pop-label">{{'LOGINOUT.NEW_PWD' | translate}}<span class="star_singn">*</span></label>
                <div class="field-input pop-form-group-100">
                    <!-- 請輸入新登入/交易密碼 -->
                    <input maxlength="255" type="password" autocomplete="off" class="form-control input-non-bg {{newPasswordErrorMsg ? 'active' : ''}}" id="com_id2" name="com_id"
                        value="" placeholder="{{'LOGINOUT.ENTER_NEW_PWD' | translate}}" [(ngModel)]="newPassword" (focusout) = "checkPasswordChange()">
                    <span class="input-pop-otp-password-alert">{{newPasswordErrorMsg | translate}}</span>
                </div>
            </div>
        </div>
        <!-- 表單popup種類6-3 //End----------------------------------------------------------------------->

        <!--表單popup種類6-3 - 整行標題+ 整行input-->
        <div class="row">
            <div class="form-group ct-info-text-wrap select-pop-group-style-column">
                <!-- 確認新密碼 -->
                <label for="com_id3" class="select-pop-label">{{'LOGINOUT.CHECK_NEW_PWD' | translate}}<span class="star_singn">*</span></label>
                <div class="field-input pop-form-group-100">
                    <!-- 請再次輸入新登入/交易密碼 -->
                    <input maxlength="255" type="password" autocomplete="off" class="form-control input-non-bg {{newConfirmPasswordErrorMsg ? 'active' : ''}}" id="com_id3" name="com_id"
                        value="" placeholder="{{'LOGINOUT.ENTER_NEW_PWD_AGAIN' | translate}}" [(ngModel)]="newConfirmPassword" (focusout) = checkPasswordChange() >
                    <span class="input-pop-otp-password-alert">{{newConfirmPasswordErrorMsg | translate}}</span>
                </div>
            </div>
        </div>
        <!-- 表單popup種類6-3 //End----------------------------------------------------------------------->

        <!-- button-set種類1 - 2個按鈕-->

        <div class="row">
            <div class="bt-center-group ">
                <button type="button" (click)="onPreClick()" class="btn btn-group-sm btn-cancel">
                    <!-- 回上頁 -->
                    {{'BTN.PREVIOUSPAGE' | translate}}
                </button>
                <button type="submit" (click)="change()" class="btn btn-group-sm btn-confirm">
                    <!-- 確定變更 -->
                    {{'LOGINOUT.CHANGE_PASSWORD_CHECK' | translate}}
                </button>
            </div>
        </div>

        <!-- button-set種類1 - 2個按鈕 //End----------------------------------------------------------------------->


    </form>

    <!-- 下方注意事項 種類1 -->
    <div class="row">
        <div class="memo-info">
            <ol class="memo-info-list">
                <li class="memo-info-list-title">{{'LOGINOUT.MEMO_TITLE' | translate}}</li> 
                <li>{{'LOGINOUT.MEMO_LINE_1' | translate}}</li> 
                <li>{{'LOGINOUT.MEMO_LINE_2' | translate}}</li>
                <li>{{'LOGINOUT.MEMO_LINE_3' | translate}}</li> 
                <li>{{'LOGINOUT.MEMO_LINE_4' | translate}}</li> 
                <li>{{'LOGINOUT.MEMO_LINE_5' | translate}}</li> 
                <li>{{'LOGINOUT.MEMO_LINE_6' | translate}}</li> 
                <li>{{'LOGINOUT.MEMO_LINE_7' | translate}}</li>
                <!-- <li>
                    <br/>
                </li>
                 新加坡/上海分行適用
                 <li>{{'LOGINOUT.MEMO_LINE_8' | translate}}</li>
                <li>{{'LOGINOUT.MEMO_LINE_8' | translate}}</li> 密碼至少要有一個小寫英文字；密碼至少要有一個數字；密碼長度為 8 至 12 碼 -->

            </ol>
        </div>


    </div>
    <!-- 下方注意事項 種類1 // END  -->




</section>