<!-- Slider -->
<ul class="cb-slideshow cb-logout">
    <li><span>img</span>
        <div></div>
    </li>
</ul>
<!-- / Slider -->
<!-- container Form -->
<div id="logout">

    <div class="section-logout logout-wrap">

        <div class="welcome-content">
            <!-- 您已登出 謝謝您的使用 -->
            {{'LOGINOUT.HAVED_LOGOUT' | translate}}<br>{{'LOGINOUT.THANKYOU' | translate}}
        </div>

        <!-- button-set種類5 - 1個按鈕 -->


        <div class="bt-center-group">
            <div class="bt-login-group-xl">
                <button (click)="goHome()" type="button" class="btn btn-login-group btn-cancel">{{'LOGINOUT.GOTOHOME' | translate}}</button>
            </div>
        </div>

        <!-- button-set種類5 - 1個按鈕 - Disable//End----------------------------------------------------------------------->

    </div>
    <!-- // login -->

</div>
<!-- // container Form -->