.img-base,.img-base2,.div-text,.div-button {
	position:absolute;
}
.img-base {
	width:100vw;
	height:100vh;
	z-index:0;
}
.img-base2 {
	width:100vw;
	height:56.2vw;
	bottom:0px;
	z-index:1;
}
div.div-text {
	width:100vw;
	height:30vh;
	top:20vh;
	text-align:center;
	white-space: pre-line;
	color:white;
	font-size:10vw;
	z-index:3;
}
.div-button{
	text-align:center;
	width:60vw;
	height:7vh;
	top:50vh;
	left:20vw;
	border-radius: 2vw;
	font-size:5vw;
	z-index:2;
}