<!-- 控制主流程(查詢頁頁) START -->
<ng-container *ngIf="mainPage=='query'">
    <!-- 頁籤 Start -->
    <app-bookmark [setData]="bookmarkData" [defaultKey]="'today'" (backPageEmit)="onBookMarkBack($event)">
    </app-bookmark>
    <!-- 頁籤 End -->

    <!-- 顯示查詢結果 START -->
    <ng-container [ngSwitch]="reqData.show">
        <ng-container *ngSwitchCase="'resultBox'">
            <section paginatorCtrl class="section_area section_hasbtn section_tabL1" [nowPage]="pageCounter" [totalPages]="totalPages"
                (scrollEvent)="onScrollEvent($event)">
                <!-- 查詢區間(全部) START -->
                <div class="info_group flex_col info_time_range">
                    <div class="info_time_range_li li_border">
                        <p>{{ 'FIELD.SEARCH_RANGE' | translate }}&nbsp;:&nbsp;
                            <span>{{ 'FIELD.SEARCH_RANGE_DATA' | translate:reqData }}</span>
                        </p>
                    </div>
                    <div class="info_time_range_btn_group flex_row">
                        <button class="btn_transparent_icon btn_turn" [ngClass]="{ 'btn_turn_reverse':(sort === 'ASC') }" (click)="onSort()" sortBtn
                            [sort]="sort">{{ 'BTN.ORDER' | translate }}</button>
                    </div>
                </div>
                <!-- 查詢區間區塊 END -->
                <!-- 查詢結果區塊 START-->
                <ng-container [ngSwitch]="nowPageType">
                    <div class="account_detail_group">
                        <!-- 今天 -->
                        <ng-container *ngSwitchCase="'today'">
                            <app-history-detail [setData]="reqData" [sort]="sort" [page]="'1'" (backPageEmit)="onPageBackEvent($event)" (errorPageEmit)="onErrorBackEvent($event)">
                            </app-history-detail>
                            <ng-container #pageBoxToday></ng-container>
                        </ng-container>
                        <!-- 一週 -->
                        <ng-container *ngSwitchCase="'7D'">
                            <app-history-detail [setData]="reqData" [sort]="sort" [page]="'1'" (backPageEmit)="onPageBackEvent($event)" (errorPageEmit)="onErrorBackEvent($event)">
                            </app-history-detail>
                            <ng-container #pageBox7D></ng-container>
                        </ng-container>
                        <!-- 一個月 -->
                        <ng-container *ngSwitchCase="'1M'">
                            <app-history-detail [setData]="reqData" [sort]="sort" [page]="'1'" (backPageEmit)="onPageBackEvent($event)" (errorPageEmit)="onErrorBackEvent($event)">
                            </app-history-detail>
                            <ng-container #pageBox1M></ng-container>
                        </ng-container>
                        <!-- 自訂 -->
                        <ng-container *ngSwitchCase="'custom'">
                            <app-history-detail [setData]="reqData" [sort]="sort" [page]="'1'" (backPageEmit)="onPageBackEvent($event)" (errorPageEmit)="onErrorBackEvent($event)">
                            </app-history-detail>
                            <ng-container #pageBox></ng-container>
                        </ng-container>
                    </div>
                </ng-container>
                <!-- 查詢結果區塊 END-->
            </section>
            <!-- 重新查詢(自訂) START 放至section外 -->
            <ng-container *ngIf="nowPageType == 'custom'">
                <div class="btn_group flex_row">
                    <button class="btn_primary btn_w100" (click)="onReStartQuery()">{{ 'BTN.RESEARCH' | translate }}</button>
                </div>
            </ng-container>
            <!-- 重新查詢(自訂) END 放至section外 -->
        </ng-container>

        <!-- 自訂搜尋 START-->
        <ng-container *ngSwitchCase="'customBox'">
            <app-date-range-search [show]="showSearchBox" [dateObj]="searchBoxRule" [doubleTag]="'0'" [noteData]="noteData" (backPageEmit)="onSearchBack($event)"
                (errorPageEmit)="onSearchErrorBack($event)">
            </app-date-range-search>
        </ng-container>
        <!-- 自訂搜尋 END-->

        <!-- 顯示錯誤白箱 START -->
        <ng-container *ngSwitchCase="'errorBox'">
            <section class="section_area section_hasbtn section_tabL1">
                <app-error-box [errorMsg]="errorMsg"></app-error-box>
            </section>
        </ng-container>
        <!-- 顯示錯誤白箱 END -->
    </ng-container>
    <!-- 顯示查詢結果 END -->
</ng-container>
<!-- 控制主流程(查詢頁頁) END -->

<!-- 控制主流程(詳細內容頁) START -->
<ng-container *ngIf="mainPage=='content'">
    <app-fund-history-content [setData]="contentData" (backPageEmit)="onPageBackEvent($event)">
    </app-fund-history-content>
</ng-container>
<!-- 控制主流程(詳細內容頁) END -->