.questionPage{
  /* background-image:url('../../../assets/ui/images/sky.jpg'); */
  overflow:hidden;
  position: absolute;
  padding-top:24vh;
  width: 100vw;height: 96vh;
  top:-90px;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: 50% 0; 
  background-size:cover;
}
.area_ex{
  margin:10px 10px 10px 30px;
  width: 80%;
}

.area_ex h3 {
  line-height:0px;/* 行高 */
  }

.area_ex_select {
  border: none;
  border: 1px solid #D3D3D3;
  background: #F5F5F5;
  height: 30px;
  font-size: 16px;
  width: 100%;
}
.area_ex p {
  line-height:10px;
  text-align:right;
}

.area_ex2{
  margin:10px 10px 10px 30px;
  width: 100%;
}
.area_ex2_column{
  margin:10px 10px 10px 0px;
}
.area_ex2_column span{
  background-color: rgba(22, 155, 213, 1);
  color:#ffffff;
  height:25px; 
  width:75px; 
  display:inline-block;
  border-radius: 5px;
}

.inp_box{
  margin: 10px 10px 10px 10px;
  width: 70%;
  text-align: center;
}
.inp_box div{
  margin: 10px;
  border: 1px solid #b1b1b1;
  background-color: rgba(255, 255, 255);
  display: flex;
  position: relative;
}
.inp_box div input, .inp_box div select{
  border: none;
  width: 80%;
  font-size: 16px;
  display: inline-block;
  padding: 10px;
}
.inp_box div span{
  font-weight: bold;
  width:90px;
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
  color: #666666;
}
.inp_box div i{
  display: block;
  width: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.area_ex_but{
  background-color:#1a756c;
  width: 161px;
  height: 42px;
  margin: 0px auto;
}
.area_ex_but p{
  color:#ffffff;
  text-align: center;
  font-size:25px;
}
