<div class="container">
    <div class="questionPage">
        <div class="area_ex">
            <h3>{{ 'EXCESSAMOUNT.SELECTACOUNT' | translate}}</h3>
            <select class="area_ex_select">
                <option>{{ 'EXCESSAMOUNT.ALLACOUNT' | translate}}</option>
                <option value="TWD-183984756南路分行">TWD-183984756南路分行</option>                        
                <option value="TWD-183984756員林分行">TWD-183984756員林分行</option>
                <option value="USD-938374617紐約分行">USD-938379382紐約分行</option>
                <option value="JPY-283748593東京分行">JPY-283748593東京分行</option>
                <option value="HKD-83726372香港九龍分行">HKD-83726372香港九龍分行</option>
            </select>
            <p>83718912</p>
            <p>東邊一大粒股份有限公司</p>
        </div>
        <div class="area_ex2">
            <h3>{{ 'EXCESSAMOUNT.SETAMOUNTLAUNCH' | translate}}</h3>
            <div class="area_ex2_column">
                <input type="checkbox"><span>&nbsp;{{ 'EXCESSAMOUNT.TRANSFERAMOUNT' | translate}}</span>{{ 'EXCESSAMOUNT.EXCEED' | translate}}
                <div>
                    <div class="inp_box" style="display: inline-block">
                        <div>
                            <span style="background:inherit">TWD</span>
                            <input maxlength="255" type="text" placeholder="{{ 'EXCESSAMOUNT.TYPEINDATA' | translate}}" />
                        </div>  
                    </div>
                    <p style="display: inline-block">{{ 'EXCESSAMOUNT.NOTICEME' | translate}}</p>
                </div>    
            </div>    
            <div class="area_ex2_column">
                    <input type="checkbox"><span>&nbsp;{{ 'EXCESSAMOUNT.TRANSFERAMOUNT' | translate}}</span>{{ 'EXCESSAMOUNT.EXCEED' | translate}}
                    <div>
                        <div class="inp_box" style="display: inline-block">
                            <div>
                                <span style="background:inherit">TWD</span>
                                <input maxlength="255" type="text" placeholder="{{ 'EXCESSAMOUNT.TYPEINDATA' | translate}}" />
                            </div>  
                        </div>
                        <p style="display: inline-block">{{ 'EXCESSAMOUNT.NOTICEME' | translate}}</p>
                    </div>    
                </div>
                
            </div>
                    <div class="area_ex_but">
                        <P>{{ 'EXCESSAMOUNT.SAVESETINGS' | translate}}</P>
                    </div>



    </div>    
</div>


