 <!-- section -->
 <section class="section_area">
  <!-- card_list_1 -->
  <!-- card_list_1 End -->
  <!-- card_list_1 -->
  <div class="card_list_group card_list_1">
    <div class="flex_row card_list_li">
      <p>{{'SETTING.MODEL' | translate}}</p>
      <p>{{deviceInfo.model}}</p>
    </div>
  </div>
  <!-- card_list_1 End -->
  <!-- card_list_1 -->
  <div class="card_list_group card_list_1">
    <div class="flex_row card_list_li">
      <p>{{'SETTING.OS' | translate}}</p>
      <p>{{deviceInfo.platform}} {{deviceInfo.osversion}}</p>
    </div>
  </div>
  <!-- card_list_1 End -->
  <!-- card_list_1 -->
  <div class="card_list_group card_list_1">
    <div class="flex_row card_list_li">
      <p>{{'SETTING.VERSION' | translate}}</p>
      <p>{{deviceInfo.appversion}}</p>
    </div>
  </div>
  <!-- card_list_1 End -->
  <!-- card_list_1 -->
  <div class="card_list_group card_list_1">
    <div class="flex_row card_list_li">
      <p>{{'SETTING.UDID' | translate}}</p>
      <p>{{deviceInfo.uuid}}</p>
    </div>
  </div>
  <!-- card_list_1 End -->
</section>
<!-- section End -->